[Unit]
Description=Respaldo diario de la BD de GenieACS API

[Timer]
OnCalendar=*-*-* 03:15:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
